.root{
    -fx-font-family: "Lucida Console";
    -fx-background-color: "black";
    -fx-font-size: 20;
    -fx-text-fill: "white";
    -fx-alignment: center;
}
.choice-box{
    -fx-text-fill: "black";
}
#textLabelOnBlack{
    -fx-text-fill: "white";
}
#titleLabel{
    -fx-text-fill: "white";
    -fx-font-size: 72;
}